:root {
    --default-50: 250, 243, 229;
    --default-100: 244, 226, 193;
    --default-200: 237, 209, 156;
    --default-300: 231, 192, 120;
    --default-400: 224, 175, 83;
    --default-500: 218, 158, 47;
    --default-600: 180, 130, 39;
    --default-700: 142, 103, 31;
    --default-800: 104, 75, 22;
    --default-900: 65, 47, 14;
    --default-foreground: 0, 0, 0;
    --default-DEFAULT: 218, 158, 47;
    --primary-50: 252, 247, 239;
    --primary-100: 248, 236, 218;
    --primary-200: 245, 226, 196;
    --primary-300: 241, 215, 174;
    --primary-400: 237, 204, 152;
    --primary-500: 233, 193, 130;
    --primary-600: 192, 159, 107;
    --primary-700: 151, 125, 85;
    --primary-800: 111, 92, 62;
    --primary-900: 70, 58, 39;
    --primary-foreground: 0, 0, 0;
    --primary-DEFAULT: 233, 193, 130;
    --secondary-50: 254, 244, 246;
    --secondary-100: 252, 229, 232;
    --secondary-200: 251, 214, 219;
    --secondary-300: 249, 199, 206;
    --secondary-400: 248, 184, 192;
    --secondary-500: 246, 169, 179;
    --secondary-600: 203, 139, 148;
    --secondary-700: 160, 110, 116;
    --secondary-800: 117, 80, 85;
    --secondary-900: 74, 51, 54;
    --secondary-foreground: 0, 0, 0;
    --secondary-DEFAULT: 246, 169, 179;
    --success-50: 234, 252, 245;
    --success-100: 205, 247, 230;
    --success-200: 176, 242, 215;
    --success-300: 147, 237, 200;
    --success-400: 118, 232, 186;
    --success-500: 89, 227, 171;
    --success-600: 73, 187, 141;
    --success-700: 58, 148, 111;
    --success-800: 42, 108, 81;
    --success-900: 27, 68, 51;
    --success-foreground: 0, 0, 0;
    --success-DEFAULT: 89, 227, 171;
    --warning-50: 253, 241, 229;
    --warning-100: 250, 221, 193;
    --warning-200: 247, 202, 157;
    --warning-300: 244, 182, 120;
    --warning-400: 241, 163, 84;
    --warning-500: 238, 143, 48;
    --warning-600: 196, 118, 40;
    --warning-700: 155, 93, 31;
    --warning-800: 113, 68, 23;
    --warning-900: 71, 43, 14;
    --warning-foreground: 0, 0, 0;
    --warning-DEFAULT: 238, 143, 48;
    --danger-50: 252, 235, 231;
    --danger-100: 248, 206, 196;
    --danger-200: 243, 177, 162;
    --danger-300: 239, 148, 128;
    --danger-400: 234, 120, 93;
    --danger-500: 230, 91, 59;
    --danger-600: 190, 75, 49;
    --danger-700: 150, 59, 38;
    --danger-800: 109, 43, 28;
    --danger-900: 69, 27, 18;
    --danger-foreground: 0, 0, 0;
    --danger-DEFAULT: 230, 91, 59;
    --background: 254, 246, 236;
    --foreground-50: 236, 225, 223;
    --foreground-100: 210, 182, 179;
    --foreground-200: 184, 140, 134;
    --foreground-300: 158, 97, 89;
    --foreground-400: 132, 55, 45;
    --foreground-500: 106, 12, 0;
    --foreground-600: 87, 10, 0;
    --foreground-700: 69, 8, 0;
    --foreground-800: 50, 6, 0;
    --foreground-900: 32, 4, 0;
    --foreground-foreground: 255, 255, 255;
    --foreground-DEFAULT: 106, 12, 0;
    --content1-DEFAULT: 255, 246, 229;
    --content1-foreground: 0, 0, 0;
    --content2-DEFAULT: 255, 238, 203;
    --content2-foreground: 0, 0, 0;
    --content3-DEFAULT: 241, 218, 171;
    --content3-foreground: 0, 0, 0;
    --content4-DEFAULT: 233, 205, 152;
    --content4-foreground: 0, 0, 0;
    --focus: 161, 49, 34;
    --overlay: 0, 0, 0;
    --divider: 17, 17, 17;
    
    --tp-base-background-color: hsla(230, 7%, 17%, 1.0);
    --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
    --tp-button-background-color: hsla(230, 7%, 70%, 0.50);
    --tp-button-background-color-active: hsla(230, 7%, 85%, 1.00);
    --tp-button-background-color-focus: hsla(230, 7%, 80%, 1.00);
    --tp-button-background-color-hover: hsla(230, 7%, 75%, 1.00);
    --tp-button-foreground-color: hsla(230, 7%, 17%, 1.00);
    --tp-container-background-color: hsla(230, 7%, 75%, 0.10);
    --tp-container-background-color-active: hsla(230, 7%, 75%, 0.25);
    --tp-container-background-color-focus: hsla(230, 7%, 75%, 0.20);
    --tp-container-background-color-hover: hsla(230, 7%, 75%, 0.15);
    --tp-container-foreground-color: hsla(230, 7%, 75%, 1.00);
    --tp-groove-foreground-color: hsla(230, 7%, 75%, 0.10);
    --tp-input-background-color: hsla(230, 7%, 75%, 0.10);
    --tp-input-background-color-active: hsla(230, 7%, 75%, 0.25);
    --tp-input-background-color-focus: hsla(230, 7%, 75%, 0.20);
    --tp-input-background-color-hover: hsla(230, 7%, 75%, 0.15);
    --tp-input-foreground-color: hsla(230, 7%, 75%, 1.00);
    --tp-label-foreground-color: hsla(230, 0%, 94%, 1.00);
    --tp-monitor-background-color: hsla(230, 7%, 0%, 0.20);
    --tp-monitor-foreground-color: hsla(230, 0%, 89%, 0.70);
}
